# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    paths-ignore:
      - "Dockerfile"
      - "*.md"
      - "notebooks/**"
      - "app/**"
      - ".streamlit/**"
      - ".gitignore"
    branches: [ main ]
  pull_request:
    paths-ignore:
      - "Dockerfile"
      - "*.md"
      - "notebooks/**"
      - "app/**"
      - ".streamlit/**"
      - ".gitignore"
    branches: [ main ]

env:
  GOOGLE_GEOCODING_API_KEY: ${{secrets.GOOGLE_GEOCODING_API_KEY}}
  RAPID_API_KEY: ${{secrets.RAPID_API_KEY}}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip poetry==1.1.12
        poetry install
    - name: Test with pytest
      run: |
        poetry run pytest tests/
